#ignoring the node module folder and package lock.
node_modules/
package-lock.json

# ds store and env. variables.
.DS_Store
.env
.vscode

# python
venv/
__pycache__/
dump.rdb

#misc
raw_data/datasets
db/data
# data files and directories
*.csv
*.gmt
*.gml
Results
r-scripts/data
